<ion-header>
  <ion-toolbar>
    <ion-title text-center>Technologies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row></ion-row>
  <ion-row text-center>
      <ion-col>I am going to build the app using the Angular with the Ionic Framework. Angular is a modern framework built in TypeScript, a superscript of JavaScript.  The Ionic Framework is an open source UI toolkit for building performant, high-quality mobile and desktop apps using web technologies.<ion-row>
      </ion-row></ion-col>
    </ion-row>
    <ion-row>
        <ion-col>Angular with Ionic</ion-col>
        <ion-col>I have now used Angular or Ionic before and am learning through a Udemy course.  I have course to do this as they are free frameworks which has been adopted by numerous companies and means separate websites or app for different operating systems need to be developed.</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>GitHub</ion-col>
          <ion-col>GitHun is an online repository and version control tool.  I have not used it before and in particular its integration with Visual Studio Code.</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>Visual Studio Code</ion-col>
        <ion-col>Visual Studio Code is an integrated development environment.  I have limited experience of it builidng simple webiste in previous modules.</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>Amazon Web Services (AWS)</ion-col>
      <ion-col>AWS will be used to store user and event information.  I have limited experience using AWS and am reliant on its user friendly APIs to create a simple secure method of storing information.</ion-col>
</ion-row>
<ion-row>
  <ion-col>Android Developer</ion-col>
  <ion-col>The emulator in Android Developer will be used to test the app.  The application will use Capitor to wrap the Angular/Ionic code into a package that can be run in Android Developer.  I have no pre-existing experience of doing this.  I will also be able to test the app using the developer function in Chrome which allows the code to tested in an Adnroid size frame.
  </ion-col>
</ion-row>
</ion-content>
