<ion-header>
  <ion-toolbar>
    <ion-title>Other App Critique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
        <ion-label>Sketches</ion-label>
        <span class="image-align">
          <button  (click)="image1click()">
            <img src="assets/img/1_sign-in.png" alt='sketch1' [height]='variableheight1' [width]='variablewidth1' >
          </button>
          <ion-item lines="full"></ion-item>
          <button  (click)="image2click()">
            <img src="assets/img/2_register.png" alt='sketch2' [height]='variableheight2' [width]='variablewidth2' >
          </button>
          <ion-item lines="full"></ion-item>
          <button  (click)="image3click()">
            <img src="assets/img/3_add_event.png" alt='sketch3' [height]='variableheight3' [width]='variablewidth3' >
          </button>
          <ion-item lines="full"></ion-item>
          <button  (click)="image4click()">
            <img src="assets/img/4_map.png" alt='sketch4' [height]='variableheight4' [width]='variablewidth4' >
          </button>
          <ion-item lines="full"></ion-item>
          <button  (click)="image5click()">
            <img src="assets/img/5_friends.png" alt='sketch5' [height]='variableheigh5' [width]='variablewidt5' >
          </button>
          <ion-item lines="full"></ion-item>
          <button  (click)="image6click()">
            <img src="assets/img/6_chat.png" alt='sketch6' [height]='variableheight6' [width]='variablewidth6' >
          </button>
          <ion-item lines="full"></ion-item>
          <button  (click)="image7click()">
            <img src="assets/img/7_invites.png" alt='sketch7' [height]='variableheight7' [width]='variablewidth7' >
          </button>
          <ion-item lines="full"></ion-item>
        </span>
  </ion-list>
</ion-content>