<ion-header>
  <ion-toolbar>
    <ion-title text-center>Other App Critique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row></ion-row>
    <ion-row>
        <ion-title text-center>Friender</ion-title>
      </ion-row>
      <ion-row>
        <p text-center>This app had very bad reviews on the App Store due to lots of bugs flagged. It appears to have a lot of the features I want to build in my app.  It does appear to have a user friendly interface and makes good use of icons. One differentiating factor is the ability for the app to include events organised by third parties looking to promote their events.</p>
    </ion-row>
   <ion-row style="height: 25px"></ion-row>
    <ion-row>
            <ion-title text-center>Meetup</ion-title>
          </ion-row>
    <ion-row>
          <p text-center>Meetup is an app with a great user interface that matches individuals with activities and events.  The app is easy to navigate round and is very visual. Where the app is different is that is does not appear to attempt to match individuals to events they have in common.</p>
    </ion-row>
  </ion-content>