<ion-header>
  <ion-toolbar>
    <ion-title text-center>Other App Critique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-row>
        <ion-title text-center>App 1 Name</ion-title>
      </ion-row>
      <ion-row>
        <ion-title text-center text="small">App 1 Critique</ion-title>
    </ion-row>
   <ion-row style="height: 25px"></ion-row>
    <ion-row>
            <ion-title text-center>App 2 Name</ion-title>
          </ion-row>
    <ion-row>
          <ion-title text-center>App 2 Critique</ion-title>
    </ion-row>
  </ion-content>