<ion-header>
  <ion-toolbar>
    <ion-title text-center>App Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" text-center>
      <img src="/assets/img/handshake.png" alt="handshake" [height]=125 [width]=50 />
      <ion-card-header>
          <ion-card-title>Get2Together</ion-card-title>
        <ion-card-subtitle>A FriendShip App</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <p text-center>Get2Together is a friendship app that allows people who sure common interests to find events to go to together and become friends.</p>
      <p text-center>Get2Together is intended to overcome that despite over connection through social media people are increasing isolated.</p>
      <p text-center>Get2Together will create a user-friendly tool for people to find events that match their interests and for people to message to arrange to meet up.</p>
    </ion-list>
</ion-content>
