<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-list-header>
          <ion-label>Resources</ion-label>
        </ion-list-header>
          <ion-label>Sketches</ion-label>
          <span class="image-align">
            <button  (click)="image1click()">
              <img src="assets/img/1_sign-in.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>
            <button  (click)="image1click()">
              <img src="assets/img/2_register.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>
            <button  (click)="image1click()">
              <img src="assets/img/3_add_event.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>
            <button  (click)="image1click()">
              <img src="assets/img/4_map.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>
            <button  (click)="image1click()">
              <img src="assets/img/5_friends.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>
            <button  (click)="image1click()">
              <img src="assets/img/6_chat.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>
            <button  (click)="image1click()">
              <img src="assets/img/7_invites.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
            </button>

          </span>
    </ion-list>
</ion-content>
