<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-list-header>
          <ion-label>Resources</ion-label>
        </ion-list-header>
          <ion-label>Sketches</ion-label>
          <span class="image-align">
          <button  (click)="image1click()">
          <img src="assets/img/phone_placeholder.png" alt='sketch1' [height]='variableheight' [width]='variablewidth' >
        </button>
      </span>
      </ion-list>
  
</ion-content>
