<ion-header>
  <ion-toolbar>
    <ion-title text-center>App Sketches</ion-title>
    <ion-title text-center size="small">(Click on images)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="auto">
      <div>
        <button  (click)="image1click()">
          <img src="assets/img/1_sign-in.png" alt='sketch1' [height]='variableheight1' [width]='variablewidth1' >
        </button>
      </div>
    </ion-col>
    <ion-col>{{notes1}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>{{notes2}}</ion-col>
    <ion-col size="auto">
      <div>
        <button  (click)="image2click()">
          <img src="assets/img/2_register.png" alt='sketch2' [height]='variableheight2' [width]='variablewidth2' >
        </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="auto">
      <div>
        <button  (click)="image3click()">
          <img src="assets/img/3_add_event.png" alt='sketch3' [height]='variableheight3' [width]='variablewidth3' >
        </button>
      </div>
    </ion-col>
    <ion-col align="left">{{notes3}}</ion-col>
  </ion-row>
    <ion-row>
        <ion-col>{{notes4}}</ion-col>
    <ion-col size="auto">
      <div>
        <button  (click)="image4click()">
          <img src="assets/img/4_map.png" alt='sketch4' [height]='variableheight4' [width]='variablewidth4' >
        </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="auto">
      <div>
        <button  (click)="image5click()">
          <img src="assets/img/5_friends.png" alt='sketch5' [height]='variableheight5' [width]='variablewidth5' >
        </button>
      </div>
    </ion-col>
    <ion-col>{{notes5}}</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>{{notes6}}</ion-col>
    <ion-col size="auto">
      <div>
        <button  (click)="image6click()">
          <img src="assets/img/6_chat.png" alt='sketch6' [height]='variableheight6' [width]='variablewidth6' >
        </button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col  size="auto">
      <div>
        <button  (click)="image7click()">
          <img src="assets/img/7_invites.png" alt='sketch7' [height]='variableheight7' [width]='variablewidth7' >
        </button>
      </div>
    </ion-col>
    <ion-col>{{notes7}}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>

